@model MXAppMedia.Web.Models.MediaViewModel

<h2>Edit a Media</h2>
<form asp-action="EditMedia">
    <hr />
    <div asp-validation-summary="All" class="text-danger">  </div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ClientId" />
    <input type="hidden" asp-for="ClientName" />
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MediaUrl"></label>
        <input asp-for="MediaUrl" class="form-control" />
        <span asp-validation-for="MediaUrl" class="text-danger"></span>
    </div>
    @* <div class="form-group">
        <label asp-for="ClientName"></label>
        <div class="col-md-10">
            <select asp-for="ClientId" class="form-control" asp-items="@ViewBag.ClientId"></select>
        </div>
        <span asp-validation-for="ClientName" class="text-danger"></span>
    </div> *@
    <hr />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>